@import './utilities.scss';

.cheshire{
    display:flex;
    width: 50%;
    padding-left: 3%;

}
  
  .field {
    width: 45%;
    margin: 0 auto;
    padding-top: 5%;
  }
  
  .cat {
    width: 100%;
  }

  .tail, .body, .body-back{
    fill: $catStripeColor;
  }
  
  .head-transparent{
    fill: $catSecondColor;
  }

  .mouth{
    fill: $catMouthColor;
  }

  .topEar{
    fill: $catTopEar;
  }

  .bottomEar{
    fill: $catBottomEar;
  }
  
  .earShadow{
    fill: #690b4a;
  }
  
  .tail,
  .body,
  .paws,
  .head-transparent {
    animation-name: cat-opacity;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes cat-opacity {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .tooth:nth-child(3n+1),
  .tooth:nth-child(4n+1) {
    animation-name: tooth-stroke, move-tooth;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  .tooth:nth-child(4n+1) {
    animation-delay: 1s;
  }
  
  @keyframes tooth-stroke {
    100% {

    }
  }
  
  @keyframes move-tooth {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(1px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .nose{
    fill: $catNose; 

    .catNostrils{
      fill: $catNostrils;
    }
  }

  .moustache{
    fill: $catMoustache;
  }
  .catWrinkles{
    fill: $catWrinkles;
  }

  .eyes{
    fill: $catEyeColor;
  }

  .secondEyeColor{
    fill: $catEyeSecondColor;
  }

  .r-eye,
  .l-eye  {
    fill: $catPupil;
    animation-duration: 10s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  
  .r-eye {
    animation-name: move-eye-left;
  }

  .tooth{
    fill: $white;
    stroke: $black;
  }

  .paws{
    fill: $catPaws;
  }
 
  
 

  @keyframes move-eye-left {
    0% {
      transform: translate(0px);
    }
    20% {
      transform: translate(-10px);
    }
    50% {
      transform: translate(5px);
    }
    100% {
      transform: translate(0px);
    }
  }
  
  .l-eye {
    animation-name: move-eye-right;
  }
  
  @keyframes move-eye-right {
    0% {
      transform: translate(0px);
    }
    20% {
      transform: translate(10px);
    }
    50% {
      transform: translate(-5px);
    }
    100% {
      transform: translate(0px);
    }
  }