@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import './utilities.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: solid $catStripeColor;
  position: fixed;
  height: 8vh;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: $backgroundColorDarkEnd;
  
  .footerIcon, .footerName {
    font-family: "Lato", sans-serif;
    display: flex;
    font-size: 0.9rem;
    width: 100%;
    text-decoration: none;
    color:  $offWhite;
  }

  .footerName{
    font-size: 0.6rem;
  }


  .icons {
    display: flex;
    gap: 1rem;

  }
}
