/* MainContainer.module.scss */
$primary-color: #64ff00;

.mainContainer {
  display:flex;
  border:solid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;


  button{
    background-color: $primary-color;
  }

}