/* MainContainer.module.scss */
$primary-color: #64ff00;
@font-face {
  font-family: "Alice";
  src: url("../assets/alice-in-wonderland/alice.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.mainContainer {
  display: flex;

  flex-direction: column;
  background-color: rgb(16, 16, 54);

  width: 100%;
  height: 100%;



  div {

    display: flex;
    width: 100%;

    .catButton {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      /* CSS */
      .button {
        background-color: #cc79c8;
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        color: #e5e7eb;
        display: flex;
        font-family: Alice;
        font-size: 1.5rem;
        font-weight: 700;
        justify-content: center;
        line-height: 1.75rem;
        padding: 0.75rem 1.65rem;
        position: relative;
        text-align: center;
        text-decoration: none #e5e7eb solid;
        text-decoration-thickness: auto;
        width: 50%;
        max-width: 460px;
        position: relative;
        cursor: pointer;
        transform: rotate(-2deg);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .button:focus {
        outline: 0;
      }

      .button:after {
        z-index: -1;
        content: "";
        position: absolute;
        border: 1px solid #e5e7eb;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
      }

      .button:hover:after {
        bottom: 2px;
        left: 2px;
      }
    }
  }

  .bubbleContainer{
    height: 40%;
    display: flex;
    justify-content: flex-end
  }

  .bubble {
    align-self: flex-end;
    justify-self: flex-end;
    position: relative;
    width: 55%;
    max-height: 100%;
    padding: 6px;
    background: #ffffff;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    border: solid 2px;
    margin-right: 8%;

    .catFact {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
   
      p {
        width: 80%;
        height: 100%;
        text-align: center;
        color:black;
        font-family: Alice;
        font-size: 1.3rem;
        padding: 3px;
      }
    }
  }

  .bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 24px 10px 0;
    border-color: #ffffff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -70px;
    transform: rotate(10deg);
    bottom: -20px;
    left: 29%;
  }

  .bubble:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 25px 21px 0;
    border-color: transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -21px;
    bottom: -27px;
    left: 29%;
  }
}
