$catEyeColor: #fce867;
$catEyeSecondColor: #fef6c2;
$catPupil: #231f20;
$catStripeColor: #cc79c8;
$catSecondColor: #780f56;
$catMouthColor: #fe99bb;
$catTopEar: #de3199;
$catBottomEar: #ad2678;
$catEarShadow: #690b4a;
$catNose: #690b4a;
$catNostrils:#231f20;
$catMoustache: #050505;
$catWrinkles: #db7f86;
$catPaws: #913e7c;
$white: #FFF;
$black: #000;