$catEyeColor: #fce867;
$catEyeSecondColor: #fef6c2;
$catPupil: #231f20;
$catStripeColor: #cc79c8;
$buttonColor:#cc79c8;
$catSecondColor: #780f56;
$catMouthColor: #fe99bb;
$catTopEar: #de3199;
$catBottomEar: #ad2678;
$catEarShadow: #690b4a;
$catNose: #690b4a;
$catNostrils: #231f20;
$catMoustache: #050505;
$catWrinkles: #db7f86;
$catPaws: #913e7c;
$offWhite: #e5e7eb;
$white: #fff;
$black: #000;
$backgroundColorDarkStart: #201c2f;
$backgroundColorDarkEnd: #100751;
$backgroundColorLightStart: #91b9e5;
$backgroundColorLightEnd: #e2eced;
